.loader {
    border: 16px solid #f3f3f3; /* Gris claro */
    border-top: 16px solid #3498db; /* Azul */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite; /* Animaci贸n de rotaci贸n */
    margin: auto; /* Centrar en la pantalla */
    margin-top: 20%; /* Margen superior */
}

/* Animaci贸n de rotaci贸n */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}