.heigth-50 {
    height: 350px;
}

.border-r {
    border-right: 2px solid #dddd;
}

.line {
    line-height: 2.5em;
}

.width-50{
    width: 75%;
}
@media screen and (max-width: 480px) {
    .container {
        padding: 10px;
    }
}